.footer {
  overflow: hidden;
}

.footer__header {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $footer-text-color;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.footer__text {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $footer-text-color;
  opacity: 0.5;

  margin: 0;
  padding: 0;
}

.footer__list {
  margin: 0;
  padding: 0;

  column-count: 2;
  column-gap: 75px;
}

.footer__list-item {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

  margin: 0;
  padding: 0;

  list-style: none;

  :hover,
  :focus {
    color: $social-button-hover;
    opacity: 1;
  }

  :active {
    opacity: 0.7;
  }
}

.footer__wrapper {
  justify-content: space-between;
  max-width: 1412px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 59px;
  display: flex;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $footer-border-color;
    opacity: 0.2;
  }
}

.footer__logo {
  width: 216px;
  margin-right: 199px;
  position: relative;
}

.footer__section--site-sections {
  width: 450px;
}

.footer__section--contacts {
  width: 333px;
}

.footer__logo-description {
  margin-left: 16px;

  &-header {
    margin: 39px 0 0;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: $logo-header-color;
  }

  &-text {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $third-text-color;
  }
}

.footer__logo-link {
  display: flex;
  text-decoration: none;

  img {
  }
}

.footer__social-buttons {
  margin-top: 54px;
}

.footer__social-buttons-link {
  text-decoration: none;
  margin-right: 11px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    fill: $link-color;
  }

  svg:hover,
  :focus {
    fill: $social-button-hover;
  }

  svg:active {
    opacity: 0.6;
  }
}

.footer__list-link {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  color: $footer-text-color;
}

.footer__copyright {
  display: flex;
  max-width: 1412px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__copyright-text {
  padding: 0;
  margin: 0;

  color: $link-color;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-top: 13px;
}

.footer__section-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__button-mobile-toggle {
  display: none;
}

.footer__button-mobile-plus {
  display: none;
}

@media (min-width: $tablet-max-width) {
  .footer__copyright-text--top {
    @include visually-hidden;
  }
}

@media (max-width: $tablet-max-width) {
  .footer__logo-link {
    img {
      margin: 0;
    }
  }

  .footer__wrapper {
    display: block;
    max-width: 973px;
    padding-bottom: 44px;
    padding-top: 19px;
    padding-left: 27px;
    padding-right: 26px;
    flex-direction: row;
  }

  .footer__social-buttons {
    display: flex;
    margin: 0;
    align-items: center;
  }

  .footer__logo {
    justify-content: space-between;
    display: flex;
    width: 100%;
    position: relative;
    padding-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: $footer-border-color;
      opacity: 0.2;
    }
  }

  .footer__list {
    column-count: 1;
  }

  .footer__copyright {
    padding-left: 27px;
    padding-right: 26px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .footer__copyright-text--bottom {
    @include visually-hidden;
  }

  .footer__button-mobile-toggle {
    display: none;
  }

  .footer__button-mobile-plus {
    display: none;
  }

  .footer__copyright-text--top {
    margin: 0;
  }

  .footer__section-wrapper {
    padding-top: 38px;
  }
}

@media (max-width: $mobile-max-width) {
  .footer__wrapper {
    padding-top: 46px;
    padding-bottom: 26px;
    padding-left: 15px;
    padding-right: 17px;
  }

  .footer__logo {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .footer__logo-link {
    margin-bottom: 26px;
  }

  .footer__header {
    margin-top: 29px;
    margin-bottom: 34px;
  }

  .footer__copyright {
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
  }

  .footer__copyright-text--bottom {
    @include visually-hidden;
  }

  .footer__section-wrapper {
    flex-direction: column;
    padding-top: 0;
  }

  .footer__section--contacts {
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 0;
      width: 100vw;
      height: 1px;
      background-color: $footer-border-color;
      opacity: 0.2;
    }
  }

  .footer__section--site-sections {
    width: 100%;
    position: relative;
  }

  .footer__button-mobile-toggle {
    position: absolute;
    display: block;
    top: 29px;
    right: 3px;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &::before {
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      top: 7px;
      right: 0;
      position: absolute;
      background-color: $toggle-button-color;
    }
  }

  .footer__button-mobile-plus {
    position: absolute;
    display: block;
    top: 29px;
    right: 3px;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    &::before {
      content: "";
      width: 16px;
      height: 2px;
      top: 7px;
      right: 0;
      position: absolute;
      background-color: #c4c4c4;
    }

    &::after {
      content: "";
      width: 2px;
      height: 16px;
      position: absolute;
      top: 0;
      right: 7px;
      background-color: #c4c4c4;
    }
  }

  .footer__copyright-text--top {
    margin-bottom: 32px;
  }

  .footer__section--closed .footer__list {
    display: none;
  }

  .footer__section--closed .footer__contacts-wrapper {
    display: none;
  }

  .footer__section--closed {
    display: none;
  }

  .footer__section--nojs .footer__button-mobile-toggle {
    display: none;
  }

  .footer__section--opened {
    display: block;
  }
}
