.goods-and-services {
  background-color: $background-color-dark;
}

.goods-and-services__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 107px;
}

.goods-and-services__header {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 52px;
  color: $main-text-color;
}

.goods-and-services__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.goods-and-services__item {
  margin-right: 27px;
  margin-bottom: 20px;
  position: relative;
  width: 31%;

  &:last-child {
    margin-right: 0;
  }
}

.goods-and-services__link {
  position: relative;
  min-height: 620px;
  display: flex;
  width: fit-content;
  //
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0,0,0, 0.2);
  // }

  img {
    display: block;
    width: 100%;
    opacity: 0.2;

    &:hover,
    &:focus {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
    background-color: $main-color;
    height: 63px;
    width: 63px;
  }

  &::after {
    background: url("../img/arrow-right.svg");
    background-color: $main-color;
    background-repeat: no-repeat;
    background-position: center;
  }

  // &--production {
  //   background-image: url("../img/system-grey.png");
  //   background-repeat: no-repeat;
  //   background-size: 100% 620px;
  // }
  //
  // &--installation {
  //   background-image: url("../img/repair-tools.png");
  //   background-repeat: no-repeat;
  //   background-size: 100% 620px;
  // }
  //
  // &--components {
  //   background-image: url("../img/lights.png");
  //   background-repeat: no-repeat;
  //   background-size: 100% 620px;
  //   background-color: transparent;
  // }
}

.goods-and-services__text {
  position: absolute;
  margin: 0;
  padding: 0;
  color: $main-text-color;
  top: 50px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 43px;
  padding-right: 155px;
}

@media (max-width: $tablet-max-width) {
  .goods-and-services {
    padding-left: 25px;
    padding-right: 25px;
  }

  .goods-and-services__wrapper {
    padding-top: 49px;
    padding-bottom: 78px;
  }

  .goods-and-services__list {
    flex-wrap: wrap;
  }

  .goods-and-services__item {
    width: 100%;
    margin: 0;
    margin-bottom: 46px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .goods-and-services__link {
    min-height: 256px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 256px;
    }

    // &--production {
    //   background-image: url("../img/production-tablet.png");
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    // }
    //
    // &--installation {
    //   background-image: url("../img/repair-tablet.png");
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    // }
    //
    // &--components {
    //   background-image: url("../img/components-tablet.png");
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    //   background-color: transparent;
    // }
  }

  .goods-and-services__text {
    bottom: 153px;
    width: 170px;
  }

  .goods-and-services__header {
    font-size: 32px;
    line-height: 140.62%;
    width: 613px;
  }
}

@media (max-width: $mobile-max-width) {
  .goods-and-services {
    padding-left: 15px;
    padding-right: 15px;
  }

  .goods-and-services__wrapper {
    padding-top: 50px;
    padding-bottom: 64px;
    min-width: 290px;
  }

  .goods-and-services__link {
    min-height: 256px;

    // &--production {
    //   background-image: url("../img/production-mobile.png");
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    // }
    //
    // &--installation {
    //   background-image: url("../img/repair-mobile.png");
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    // }
    //
    // &--components {
    //   background-image: url("../img/components-mobile.png");
    //   background-repeat: no-repeat;
    //   background-size: 100% auto;
    //   background-color: transparent;
    // }
    img {
      display: block;
      width: 100%;
    }
  }

  .goods-and-services__header {
    font-size: 28px;
    line-height: 140.62%;
    width: 280px;
    margin-bottom: 42px;
  }

  .goods-and-services__text {
    bottom: 175px;
    padding: 0;
    padding-left: 24px;
  }

  .goods-and-services__item {
    margin-bottom: 30px;
  }
}
