.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-nav__contacts-list {
  display: flex;
  list-style: none;
  align-items: center;

  margin: 0;
  padding: 0;
}

.main-nav__contacts-list-item {
  position: relative;

  &:nth-child(2n) {
    margin-left: 90px;
  }
}

.main-nav__contacts-link {
  &::before {
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.main-nav__contacts-link--envelope {
  &:before {
    content: "";
    width: 19px;
    height: 14px;
    background-image: url("../img/envelope.svg");
    margin-right: 20px;
  }
}

.main-nav__contacts-link--phone {
  &:before {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-call.svg");
    margin-right: 16px;
  }
}

.main-nav__contacts-link {
  text-decoration: none;
  color: $main-text-color;
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.main-nav__logo-link {
  margin-left: 7px;
  display: flex;
  align-items: center;
}

.main-nav__button {
  margin: 0;
  padding: 0;
  margin-left: 43px;
  padding: 15px 25px;
  color: $main-text-color;
  display: inline-block;

  &:hover,
  &:focus {
    color: $main-color;
  }

  &:active {
    color: rgba(1, 178, 255, 0.7);
  }
}

.main-nav__logo-image-small {
  display: none;
}

@media (max-width: $tablet-max-width) {
  .main-nav__contacts-list span {

  }

  .main-nav__button {
    @include visually-hidden;
  }

  .main-nav__contacts-link span {
    @include visually-hidden;
  }

  .main-nav__contacts-list-item {
    position: relative;

    &:nth-child(2n) {
      margin-left: 33px;
    }
  }

  .main-nav__contacts-link--envelope {
    &:before {
      content: "";
      width: 25px;
      height: 19px;
      background-image: url("../img/envelope.svg");
      margin-right: 20px;
    }
  }

  .main-nav__contacts-link--phone {
    &:before {
      content: "";
      width: 24px;
      height: 24px;
      background-image: url("../img/phone-call.svg");
      margin-right: 16px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .main-nav__contacts-list-item {
    position: relative;

    &:nth-child(2n) {
      margin-left: 23px;
    }
  }

  .main-nav__logo-image {
    @include visually-hidden;
  }

  .main-nav__logo-image-small {
    display: block;
  }
}
