.promo__wrapper {
  background: url("../img/mother-board.png");
  background-size: 705px auto;
  background-position: right 146px top 173px;
  background-repeat: no-repeat;
}

.promo__header {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.promo__text {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  margin-left: 98px;

  &:before {
    content: "";
    position: absolute;
    background-color: $background-color-light;
    position: absolute;
    width: 66px;
    height: 2px;
    left: 22px;
    top: 138px;
  }
}
.promo__button {
  width: 407px;
  height: 55px;
  left: 347px;
  top: 548px;
  background: $main-color;
  color: $main-text-color;
  border-radius: 5px;
  padding: 18px 45px;
  border-style: none;
  margin-left: 101px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
}

.promo__wrapper-content h1 {
  margin: 0;
  margin-left: 4px;
  margin-bottom: 26px;
  padding: 0;
  width: 750px;
}

.promo__text {
  margin: 0;
  margin-left: 102px;
  margin-bottom: 45px;
  padding: 0;
  width: 620px;
}

@media (max-width: $tablet-max-width) {
  .promo__wrapper {
    background: url("../img/mother-board.png");
    background-size: 465px auto;
    background-position: right -221px top 24px;
    background-repeat: no-repeat;
  }

  .promo__wrapper-content h1 {
    margin-bottom: 29px;
    width: 470px;
    font-size: 60px;
    line-height: 70px;
  }

  .promo__text {
    width: 356px;
    margin-left: 46px;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 156.8%;

    &:before {
      content: "";
      position: absolute;
      background-color: $background-color-light;
      position: absolute;
      width: 33px;
      height: 2px;
      left: 91px;
      top: 183px;
    }
  }

  .promo__button {
    width: 379px;
    padding: 18px 30px;
    margin-left: 45px;
  }
}

@media (max-width: $mobile-max-width) {
  .promo__wrapper {
    background: url("../img/mother-board.png");
    background-size: 301px auto;
    background-position: right -24px top -11px;
    background-repeat: no-repeat;
  }

  .promo__wrapper-content h1 {
    margin-bottom: 26px;
    min-width: 277px;
    width: 100%;
    font-size: 40px;
    line-height: 47px;
  }

  .promo__text {
    width: 245px;
    margin-left: 46px;
    margin-bottom: 43px;
    font-size: 16px;

    &:before {
      content: "";
      position: absolute;
      background-color: $background-color-light;
      position: absolute;
      width: 33px;
      height: 2px;
      left: 18px;
      top: 85px;
    }
  }

  .promo__button {
    width: 100%;
    margin: 0;
  }
}
