.promo__wrapper {
  background: url("../img/mother-board.png");
  background-size: 705px auto;
  background-position: left 1022px top 173px;
  background-repeat: no-repeat;
  padding-top: 229px;
  padding-bottom: 276px;
}

.promo__wrapper-content {
  max-width: 1412px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.promo__header {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  color: $main-text-color;
}

.promo__text {
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
  margin-left: 98px;
  color: $main-text-color;

  &:before {
    content: "";
    position: absolute;
    background-color: $background-color-light;
    position: absolute;
    width: 66px;
    height: 2px;
    left: 22px;
    top: 138px;
  }
}
.promo__button {
  width: 407px;
  height: 55px;
  left: 347px;
  top: 548px;
  background: $main-color;
  color: $main-text-color;
  border-radius: 5px;
  padding: 18px 45px;
  border-style: none;
  margin-left: 101px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;

  &:hover,
  :focus {
    color: $main-color;
    background-color: $background-color-light;
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(1, 178, 255, 0.7);
  }
}

.promo__header {
  margin: 0;
  // margin-left: 4px;
  margin-bottom: 26px;
  padding: 0;
  width: 718px;
}

.promo__text {
  margin: 0;
  margin-left: 102px;
  margin-bottom: 45px;
  padding: 0;
  width: 620px;
}

.promo__scroll-link {
  text-decoration: none;
  color: $main-text-color;
  opacity: 0.5;
  font-family: "PT Mono", Courier, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  transform: rotate(-90deg);
}

@media (min-width: $desktop-width) {
  .promo__button--mobile {
    @include visually-hidden;
  }
}

@media (max-width: $tablet-max-width) {
  .promo__scroll-link {
    @include visually-hidden;
  }

  .promo__wrapper {
    background: url("../img/mother-board.png");
    background-size: 465px auto;
    background-position: right -247px top 43px;
    background-repeat: no-repeat;
    padding-top: 118px;
    padding-bottom: 163px;
  }

  .promo__wrapper-content {
    padding-left: 59px;
    padding-right: 25px;
  }

  .promo__header {
    margin-bottom: 29px;
    width: 470px;
    font-size: 60px;
    line-height: 70px;
  }

  .promo__text {
    width: 356px;
    margin-left: 54px;
    margin-bottom: 55px;
    font-size: 18px;
    line-height: 156.8%;

    &:before {
      content: "";
      position: absolute;
      background-color: $background-color-light;
      position: absolute;
      width: 33px;
      height: 2px;
      left: 66px;
      top: 185px;
    }
  }

  .promo__button {
    width: 379px;
    padding: 18px 30px;
    margin-left: 55px;
  }
}

@media (min-width: $mobile-max-width) {
  .promo__button--mobile {
    @include visually-hidden;
  }
}

@media (max-width: $mobile-max-width) {
  .promo__wrapper {
    background: url("../img/mother-board.png");
    background-size: 301px auto;
    background-position: right -39px top 23px;
    background-repeat: no-repeat;
    padding-top: 218px;
    padding-bottom: 70px;
  }

  .promo__header {
    margin-bottom: 26px;
    min-width: 277px;
    width: 277px;
    font-size: 40px;
    line-height: 47px;
  }

  .promo__wrapper-content {
    // padding-left: 5px;
    min-width: 290px;
    padding-left: 0;
    padding-right: 0;
  }

  .promo__text {
    width: 245px;
    margin-left: 51px;
    margin-bottom: 43px;
    font-size: 16px;

    &:before {
      content: "";
      position: absolute;
      background-color: $background-color-light;
      position: absolute;
      width: 33px;
      height: 2px;
      left: 3px;
      top: 135px;
    }
  }

  .promo__button {
    width: 100%;
    margin: 0;
  }

  .promo__button--wide {
    @include visually-hidden;
  }
}
