body {
  font-family: "PT Mono", "Roboto", "Roboto Condensed", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
  border: 0;
}

.button {
  width: 180px;
  height: 45px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}
