//devices
$tablet-width: 1023px;
$mobile-width: 767px;
//colors
$main-color: #00B2FF;
$background-color-light: #ffffff;
$background-color-dark: #1B2D37;
$main-text-color: #ffffff;
$second-text-color: #666666;
$third-text-color: #788891;
$footer-text-color: #1B2D37;
//buttons
$social-button-color: #cdcdcd;
$contact-icon-color: #00B2FF;
$advantages-border-color: #ebebeb;
//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
