.advantages {
  padding-top: 111px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 122px;
}

.advantages__item {
  position: relative;
  width: 570px;
  height: 300px;
  border: 1px solid $advantages-border-color;
  box-sizing: border-box;
  padding: 95px 43px 49px 41px;
  border-left: 3px solid $main-color;
  margin-bottom: 30px;

  &:nth-last-child(-n+2){
    margin-bottom: 0;
  }

  &:nth-child(1n) {
    margin-right: 30px;
  }

  &:hover {
    background-color: $main-color;
    color: $main-text-color;

    h3 {
      color: $main-text-color;
    }

    p {
      color: $main-text-color;
    }
  }
}

.advantages__header {
  color: $main-color;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 16px;

  &--watch {
    &:before {
      content: "";
      position: absolute;
      width: 29px;
      height: 35px;
      background-image: url("../img/stopwatch.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 58px;
      transform: translateY(-50%);
    }
  }

  &--suppliers {
    &:before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background-image: url("../img/hired.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 58px;
      transform: translateY(-50%);
    }
  }

  &--confidentiality {
    &:before {
      content: "";
      position: absolute;
      width: 36px;
      height: 31px;
      background-image: url("../img/detective.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 58px;
      transform: translateY(-50%);
    }
  }

  &--price-customization {
    &:before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      background-image: url("../img/tag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      top: 58px;
      transform: translateY(-50%);
    }
  }
}

.advantages__text {
  color: $second-text-color;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
